body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.canvas {
  width: 1500px;
  height: 1500px;
  border: 1px solid black;
  position: absolute;
  
}

.frame {
  align-items: center;
  justify-content: center;
  border: solid 1px grey;
  background: #f0f0f0;
}

.plot {
  height: inherit;
  width: inherit;
  position: absolute;
  z-index: -1;
}

.drag-handle {
  background-color: grey;
  padding-bottom: 2rem;
  z-index: 10;
  width: inherit;
}